header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
h1 {
    width: fit-content;
    border-bottom: 6px dashed #000;
}
.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 1em 1em 1em;
}
.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#textarea {
    margin: 2em 0 1em 0;
    width: 50%;
    min-width: 40%;
    max-width: 70%;
    height: 20vh;
    min-height: 10vh;
    max-height: 60vh;

    border: 2px solid #000;
    background-color: #FAF0E6;
    border-radius: 10px;
    padding: 3px;
}
#button {
    width: 20%;
    height: 2.5em;
    border: 2px solid #000;
    background-color: #808080;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
}
#button:hover {
    background-color: #9e9e9e;
    transform: scale(1.2);
}
#button:active  {
    background-color: #d4d4d4;
}
.outputh2 {
    text-align: center;
    margin: 2em 1em 1em 1em;
}
#outputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: break-all;
}
#paragrahElementID0, #paragrahElementID2, #paragrahElementID4 {
    font-weight: 700;
}